{% extends 'wrapper.html' %}
{% load static %}

{% block title %} Auth|NoodleBlog {% endblock %}

{% block style %}{% endblock %}

{% block body %}

<section class="auth">
	<h2 class="auth__title">Login or register</h2>

	{% if error %}
	<h2 class="auth__error-text">{{text}}</h2>
	{% endif %}

	<form action="/auth/login/" method="POST" class="auth__login">
		{% csrf_token %}
		<input type="text" class="auth__useraname" placeholder="Username" name="username">
		<input type="password" class="auth__password" placeholder="Password" name="password">
		<button class="auth__btn">Login</button>
	</form>

	<form action="/auth/register/" method="POST" class="auth__register">
		{% csrf_token %}
		<input type="text" class="auth__useraname" placeholder="Username" name="username">
		<input type="text" class="auth__email" placeholder="email" name="email">
		<input type="password" class="auth__password" placeholder="Password" name="password">
		<input type="password" class="auth__password" placeholder="Password again" name="password1">
		<button class="auth__btn">Register</button>
	</form>

</section>

{% endblock %}