{% extends 'wrapper.html' %}
{% load static %}
{% load blog_tags %}

{% block title %}Noodle posts{% endblock %}

{% block style %}{% endblock %}

{% block body %}

<section class="main">
	<div class="main__list">
		<p class="main__amount">Total posts: {% total_posts %}</p>
		{% for post in posts %}
			<div class="main__post-wrapper">
				
				<div class="main__post-title">
					<a href='{{post.get_absolute_url}}' class="main__title">{{post.title}}</a>
				</div>

				Tags:{% for tag in post.tags.all %}
					<a href="/?tag={{tag}}" class="post__tags">{{tag}}</a>
				{% endfor %}
				
				<div class="main__post-description">
					<p class="main__description">{{post.body|truncatewords:30|linebreaks|markdown}}</p>
				</div>
				
				<div class="main__post-additional">
					<p class="main__comments">{{post.comments.count}} comments</p>
					<p class="main__published">{{post.publish.date}} by {{post.author}}</p>
				</div>

			</div>
		{% endfor %}
	</div>

	<div class="main__latest">
		<h2 class="main__title">Latest</h2>
		{% for post in latest_posts %}
			<a href="{{post.get_absolute_url}}" class="main__title main__title_latest">{{post.title}}</a>
		{% endfor %}
	</div>
</section>

{% if user.is_authenticated %}
<section class="pagination">
	<div class="pagination__wrapper">
		{% if page_obj.has_previous %}
			<a href="?page={{page_obj.previous_page_number}}" class="pagination__previous">Previous</a>
		{% endif %}

		<a class="pagination__this">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>

		{% if page_obj.has_next %}
			<a href="?page={{page_obj.next_page_number}}" class="pagination__next"{{page_obj.next_page_number}}>Next</a>
		{% endif %}
	</div>
</section>
{% endif %}
{% endblock %}