{% extends 'wrapper.html' %}
{% load static %}

{% block title %} {{post.title}} {% endblock %}

{% block style %}{% endblock %}

{% block body %}

<section class="share">
	
	<div class="share__wrapper">
		{% if mail %}		
			{% if send_mail %}
				<h2 class="share__title">Mail was send successfully!</h2>
			{% else %}
				<h2 class="share__title">Error sending message! Try again later!</h2>
				{% endif %}
		{% endif %}

		<h2 class="share__title">Share post via email</h2>
		<p class="share__description">Share {{post.title}} with your friends!</p>

		<!--
			DJANGO FORMS 
			{% for field in form %}
				<div>
					{{ field.errors }}
					{{ field.label_tag }} {{ field }}
				</div>
			{% endfor %}
		-->

		<form action="." method="POST">
			{% csrf_token %}
			<label class="share__label">Your name</label>
			<input type="text" class="share__name" name="name" >
			<input type="hidden" name="email" value="riisa.toro@gmail.com">
			<input type="hidden" name="post_url" class="share__url" value="{{post.get_absolute_url}}">
			<label class="share__label">Recipient</label>
			<input type="to" class="share__email" name="to" >
			<label class="share__label">Comment</label>
			<textarea class="share__comment" name="comment"> </textarea>
			<button type="submit">Send</button>
		</form>

	</div>

</section>

{% endblock %}